<article class="flex flex-col items-center justify-center gap-8 text-indigo-700 dark:text-indigo-300 md:flex-row">

    <p class="">
        ¡Hola! Soy Mauricio Orozco, pero puedes llamarme Mau. Mi incursión en el mundo de la programación comenzó durante mis estudios
        universitarios, donde descubrí mi pasión por esta disciplina. Desde entonces, he estado inmerso en diversos proyectos
        de desarrollo web, abarcando desde la creación de landing pages hasta la implementación de sistemas internos para empresas. 
        <br>
        Mi experiencia se extiende tanto en el frontend como en el backend, permitiéndome contribuir de manera integral en cada etapa del proceso. Estoy emocionado por seguir creciendo y enfrentando nuevos desafíos en este apasionante campo.
    </p>
</article>