---
import DateRange from "../Icons/DateRange.astro";
import LinkButton from "../components/LinkButton.astro";

interface Props {
    title: string
    description: string
    link?: string
    date: string
}

const { title, description, link, date } = Astro.props
---
<div class="md:flex flex-start">
    <div class="bg-indigo-400 w-6 h-6 flex items-center justify-center rounded-full -ml-3.5">
        <DateRange class="size-4" />
    </div>
    <div class="block p-6 rounded shadow-lg bg-slate-950/20 max-w-xl ml-6 mb-10">
        <div class="grid grid-cols-1 mb-4">
            <span class="font-semibold text-indigo-400 text-md mb-1 text-2xl">
                {title}
            </span>
            <time class="font-medium text-indigo-300 text-base">
                {date}
            </time>
        </div>
        <p class="text-indigo-200 mb-6 text-sm">
            {description}
        </p>
        {
            link && (
                <LinkButton href={link}>
                    Preview
                </LinkButton>
            )
        }
    </div>
</div>