---
import Code from "../Icons/Code.astro";
import BriefCase from "../Icons/BriefCase.astro";
import Mail from "../Icons/Mail.astro";
import UserQuestion from "../Icons/UserQuestion.astro";
---

<header
    class="
        flex justify-end max-md:justify-center
        mx-auto
        py-3
        sticky top-0
        w-full
        z-10
        bg-slate-950/20
        backdrop-blur-2xl
    "
>
  	<nav
		class="
			px-3 py-1
            md:me-5 
			flex flex-row
            text-black dark:text-indigo-200
		"
  	>
		<a class="inline-flex items-center hover:text-indigo-400 px-3 transition" href="#experiencia">
           <span class="text-indigo-900 dark:text-indigo-400 pe-1"><BriefCase class="size-5"/></span>
            <h5 class="max-md:hidden">Experiencia</h5>
        </a>
		<a class="inline-flex items-center hover:text-indigo-400 px-3 transition" href="#proyectos">
            <span class="text-indigo-900 dark:text-indigo-400 pe-1"><Code class="size-5"/> </span>
            <h5 class="max-md:hidden">Proyectos</h5>	
		</a>
		<a class="inline-flex items-center hover:text-indigo-400 px-3 transition" href="#sobre-mi">
            <span class="text-indigo-900 dark:text-indigo-400 pe-1"><UserQuestion class="size-5"/></span>
            <h5 class="max-md:hidden">Sobre mí</h5>	
		</a>
		<a class="inline-flex items-center hover:text-indigo-400 px-3 transition" href="mailto:mauorozcoo@gmail.com">
            <span class="text-indigo-900 dark:text-indigo-400 pe-1"><Mail class="size-5"/></span>
            <h5 class="max-md:hidden">Contacto</h5>	
		</a>
	</nav>
</header>
 
 

