<a
    {...Astro.props}    
    class="  
        inline-flex justify-center items-center gap-x-2
        px-3
        py-1
        font-base
        text-xs md:text-base
        text-black dark:text-indigo-50
        rounded-full
        dark:bg-indigo-400
        hover:bg-indigo-700
        transition
    "
    target="_blank"
    aria-hidden="true"
    rel="noopener noreferrer"
> 
    <slot />
</a>


